/*
** FONTS
 */

@font-face {
  font-family: Optima;
  src: url("../assets/fonts/Optima/Optima-Regular.ttf");
}

/*
** COMMON
 */

body {
  padding: 30px 0;
  position: relative;
  background: white right top no-repeat;
  background-size: cover;
}

a .surimpression-container {
  display: flex;
  width: 80%;
  height: 100%;
  opacity: 0;
  margin: auto;
}

a .surimpression {
  display: block !important;
  width: 100%;
  margin: auto;
}

a:hover .surimpression-container {
  opacity: 1;
  transition: opacity 1s ease;
}

.img-c {
  width: 200px;
  height: 200px;
  float: left;
  position: relative;
  overflow: hidden;
}

.img-w {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

nav.transparent{
  box-shadow: none;
  margin-bottom: 250px;
}

#LOGO {
  height: 50px;
  margin-top: 70px;
  margin-left: -50px;
}
@media only screen and (max-width: 600px) {
  #LOGO {
    margin-top: 70px;
    margin-left: 0;
  }
}

.img-w img {
  display: none;
}

.img-c {
    transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;
  //transform: translateX(-50%);
}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}

/*
** PROJECTS
 */

.barbie-bar .img-c {
  height: 210px;
  width:  210px;
}

.barbie-bar .img-w {
  background-image: url('../assets/projects/BARBIEBAR.png');
}

.barbie-bar .img-container {
  display:          flex;
  justify-content:  flex-end;
}

.barbie-bar .title-container {
  margin-top: 50px;
}

.cubi .img-c {
  height:       190px;
  margin-left:  15px;
  width:        190px;
}

.cubi .img-w {
  background-image: url('../assets/projects/CUBI.png');
}

.cubi .title {
  margin-top: 80px;
}

.circus-vilain .img-c {
  height: 250px;
  width:  250px;
}

.circus-vilain .img-w {
  background-image: url('../assets/projects/CIRCUSVILAIN.jpg');
}

.circus-vilain .title-container {
  align-items:      flex-end;
  display:          flex;
  height:           200px;
  justify-content:  flex-end;
}

@media only screen and (max-width: 600px) {
  .circus-vilain .title-container {
    height: auto;
  }
}

.hophophop .img-c {
  height: 200px;
  width:  200px;
}

.hophophop .img-w {
  background-image: url('../assets/projects/HOPHOPHOP.png');
}

.hophophop .title-container {
  align-items:  center;
  display:      flex;
  height:       200px;
  width:        200px;
}

.hophophop .img-container {
  display:          flex;
  justify-content:  flex-end;
}

.hophophop .title {
  margin-top: -25px;
}

.lascaux .img-c {
  height: 220px;
  width:  220px;
}

.lascaux .img-w {
  background-image: url('../assets/projects/LASCAUX.jpg');
}

.lush .img-c {
  height: 250px;
  width:  250px;
}

.lush .img-w {
  background-image: url('../assets/projects/LUSH.png');
}

.lush .img-container {
  display:          flex;
  justify-content:  flex-end;
}

/*
** ANIMATIONS
 */
.projet1 {
  opacity: 0;
  -webkit-animation: fadein 500ms forwards;
  -moz-animation:    fadein 500ms forwards;
  -o-animation:      fadein 500ms forwards;
  animation:         fadein 500ms forwards;
  animation-delay:         1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay:    1s;
  -o-animation-delay:      1s;
}

.projet2 {
  opacity: 0;
  -webkit-animation: fadein 500ms forwards;
  -moz-animation:    fadein 500ms forwards;
  -o-animation:      fadein 500ms forwards;
  animation:         fadein 500ms forwards;
  animation-delay:         1250ms;
  -webkit-animation-delay: 1250ms;
  -moz-animation-delay:    1250ms;
  -o-animation-delay:      1250ms;
}

.projet3 {
  opacity: 0;
  -webkit-animation: fadein 500ms forwards;
  -moz-animation:    fadein 500ms forwards;
  -o-animation:      fadein 500ms forwards;
  animation:         fadein 500ms forwards;
  animation-delay:         1500ms;
  -webkit-animation-delay: 1500ms;
  -moz-animation-delay:    1500ms;
  -o-animation-delay:      1500ms;
}

.projet4 {
  opacity: 0;
  -webkit-animation: fadein 500ms forwards;
  -moz-animation:    fadein 500ms forwards;
  -o-animation:      fadein 500ms forwards;
  animation:         fadein 500ms forwards;
  animation-delay:         1750ms;
  -webkit-animation-delay: 1750ms;
  -moz-animation-delay:    1750ms;
  -o-animation-delay:      1750ms;
}

.projet5 {
  opacity: 0;
  -webkit-animation: fadein 500ms forwards;
  -moz-animation:    fadein 500ms forwards;
  -o-animation:      fadein 500ms forwards;
  animation:         fadein 500ms forwards;
  animation-delay:         2000ms;
  -webkit-animation-delay: 2000ms;
  -moz-animation-delay:    2000ms;
  -o-animation-delay:      2000ms;
}

.projet6 {
  opacity: 0;
  -webkit-animation: fadein 500ms forwards;
  -moz-animation:    fadein 500ms forwards;
  -o-animation:      fadein 500ms forwards;
  animation:         fadein 500ms forwards;
  animation-delay:         2250ms;
  -webkit-animation-delay: 2250ms;
  -moz-animation-delay:    2250ms;
  -o-animation-delay:      2250ms;
}

.projet7 {
  opacity: 0;
  -webkit-animation: fadein 500ms forwards;
  -moz-animation:    fadein 500ms forwards;
  -o-animation:      fadein 500ms forwards;
  animation:         fadein 500ms forwards;
  animation-delay:         2500ms;
  -webkit-animation-delay: 2500ms;
  -moz-animation-delay:    2500ms;
  -o-animation-delay:      2500ms;
}

.projet8 {
  opacity: 0;
  -webkit-animation: fadein 500ms forwards;
  -moz-animation:    fadein 500ms forwards;
  -o-animation:      fadein 500ms forwards;
  animation:         fadein 500ms forwards;
  animation-delay:         2750ms;
  -webkit-animation-delay: 2750ms;
  -moz-animation-delay:    2750ms;
  -o-animation-delay:      2750ms;
}

/*
** ANIMATIONS DÉFINITION
 */

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

/*
** Lines
 */

#line1 {
  background-color: #20535F;
  height:           100px;
  width:            2.5px;
}

#line1-small {
  background-color: #20535F;
  height:           100px;
  width:            2px;
}

#line2 {
  background-color: #20535F;
  height:           2.5px;
  margin-top:       60px;
  width:            100px;
}

#line2-small {
  background-color: #20535F;
  height:           2px;
  margin-top:       35px;
}

#line3 {
  background-color:   #20535F;
  height:             2.5px;
  margin-left:        20px;
  margin-top:         20px;
  width:              100px;

  -webkit-transform:  rotate(-45deg);
  -moz-transform:     rotate(-45deg);
  -o-transform:       rotate(-45deg);
  transform:          rotate(-45deg);
}

#line3-small {
  background-color:   #20535F;
  height:             2px;
  margin-top:         30px;

  -webkit-transform:  rotate(-45deg);
  -moz-transform:     rotate(-45deg);
  -o-transform:       rotate(-45deg);
  transform:          rotate(-45deg);
}

#line4 {
  background-color: #20535F;
  height:           2.5px;
  margin-left:      25px;
  width:            100px;
}

#line4-small {
  background-color: #20535F;
  height:           2px;
  margin-left:      25px;
  width:            100px;
}

#line5 {
  background-color:   #20535F;
  height:             2.5px;
  margin-top:         20px;
  width:              100px;

  -webkit-transform:  rotate(-90deg);
  -moz-transform:     rotate(-90deg);
  -o-transform:       rotate(-90deg);
  transform:          rotate(-90deg);
}

@media only screen and (max-width: 600px) {
  #line5 {
    background-color:   #20535F;
    height:             2px;
    margin-top:         20px;

    -webkit-transform:  rotate(-90deg);
    -moz-transform:     rotate(-90deg);
    -o-transform:       rotate(-90deg);
    transform:          rotate(-90deg);
  }
}
/*
** TEXT
 */

.title {
  letter-spacing: 1px;
  font-family:    Optima, Roboto, sans-serif;
  color:          #36757D;
  font-size:      20px;
  font-weight:    bolder;
  text-align:     center;
}

.subtitle {
  letter-spacing: 0;
  font-family:    Optima, Roboto, sans-serif;
  font-size:      12px;
  color:          #36757D;
}

.vertical {
  -webkit-transform:    rotate(180deg);
  -moz-transform:       rotate(180deg);
  -o-transform:         rotate(180deg);
  transform:            rotate(180deg);
  -webkit-writing-mode: tb;
  -ms-writing-mode:     tb;
  writing-mode:         tb;
}

.lascaux-title {
  align-items:      center;
  display:          flex;
  justify-content:  center;
}

.lascaux-title .title-container {
  margin-right: 25px;
}
